.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../card-images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  color: black;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
