.footer {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 48px auto 36px;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
