@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-top: 14px;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }

  .profile__edit-button {
    margin-top: 4px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .card__list {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
